a {
	text-decoration: none;
	font-family: arial, sans-serif;
	color: #404040;
	font-size: 13px;
	line-height: 24px;
}

* {
	box-sizing: border-box;
}


/******************************
NAVIGATION 
*******************************/
nav ul {
	float: right;
	margin-right: 20px;
}

nav ul li {
	display: inline-block;
	list-style: none;
	padding: 0 5px;
	margin: 0 5px;
}

nav ul li .profile {
	margin-top: 0;
}

.apps img {
	width: 30px;
	height: 30px;
	vertical-align: middle;
}

.notifications img {
	width: 30px;
	height: 30px;
	vertical-align: middle;
}

.profile-pic img {
	width: 30px;
	height: 30px;
	border-radius: 100%

}







/******************************
MAIN LOGO
*******************************/
.main {
	text-align: center;
	clear: both;
	position: relative;
	top: 130px;
}

form .searchfield {
	width: 500px;
	display: block;
	margin: 0 auto;
}

.main img {
	margin: 0 auto;
	width: 269px;
	height: 95px;
}

.buttons {
	margin: 10px ;
}
